<h1>Listing focus_groups</h1>

<table class="table table-striped table-bordered">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @focus_groups.each do |focus_group| %>
  <tr>
    <td><%= focus_group.name %></td>
    <td><%= link_to 'Show', focus_group %></td>
    <td><%= link_to 'Edit', edit_focus_group_path(focus_group) %></td>
    <td><%= link_to 'Destroy', focus_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Focus group', new_focus_group_path %>
