<%= content_tag_for :li, f.object do %>
	  <div style="display:inline-block;">
	  	<div class="author-inline">
	  		<span class="handle">[drag]</span>
	  	</div>
	  	<div class="author-inline">
	  		<%= f.input :name, label: false, placeholder: 'Name', input_html: { class: 'input-medium' }  %>
	  	</div>
	  	<div class="author-inline">
	  		<%= f.input :email, label: false, placeholder: 'Email', input_html: { class: 'input-medium' } %>
	  	</div>
	  	<div class="author-inline">
	  		<%= f.input :country_team_id, collection: CountryTeam.order(:name), prompt: "Country team", label: false, input_html: { class: 'input-medium', size: 1 } %></div>
			<div class="author-inline">
				<%= f.input :focus_group_id, collection: FocusGroup.order(:name), prompt: "Focus group", label: false, input_html: { class: 'input-medium', size: 1 } %></div>
			<div class="author-inline"><%= f.hidden_field :_destroy %>
	  		<%= link_to 'Remove', '#', class: "remove_fields btn btn-danger btn-small" %>
	  	</div>
	  </div>
<% end %>