<%= simple_form_for(@author) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :number %>
    <%= f.input :publication_id %>
    <%= f.input :country_team_id %>
    <%= f.input :focus_group_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
