<%= simple_form_for(@user, :html => { :class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <% if permitted_to? :manage, :users %>
      <%= f.input :hbsc_member, as: :radio_buttons %>
      <%= f.label :roles %>
      <% for role in User::ROLES %>
        &nbsp;&nbsp;&nbsp;&nbsp;<%= check_box_tag "user[roles][]", role, @user.roles.include?(role) %>&nbsp;&nbsp;
        <%= h role.humanize %>
      <% end %>
      <%= hidden_field_tag "user[roles][]", "" %>

    <% elsif !@user.new_record? %>
      <p>You are currently registered with the following:</p>
      <p>
        <strong>HBSC Member:</strong>
        <%=h @user.hbsc_member? ? 'Yes' : 'No' %>
      </p>
      <p>
        <strong>Roles:</strong>
        <%=h @user.role_symbols.join(', ').titleize %>
      </p>
      <p>Please contact the Publication Group if this is not correct.</p>
    <% end %>


  </div>

  <div class="form-actions">
    <%= f.button :submit, @user.new_record? ? "Create account" : "Update account", class: "btn-primary" %>
  </div>
<% end %>


