<h1>Listing Emails</h1>
<div class="well">
Here you can modify the content of the emails sent to the HBSC responsible author as the publication progresses through the workflow.
</div>



  <table id="master_data" class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Trigger</th>
    <th>Subject</th>
    <th>Content</th>
    <th>Delay*</th>
    <th></th>
  </tr>
</thead><tbody>
<% @emails.each do |email| %>
  <tr>
    <td><%= email.trigger %></td>
    <td><%= email.subject %></td>
    <td><%= email.content %></td>
    <td><%= email.delay %></td>
    <td><%= link_to 'Edit', edit_email_path(email) %></td>
  </tr>
<% end %></tbody>
</table>
<p class="explanation">* Delay must be greater than 0 for automatic reminders to be sent.</p>