<h1>Listing Variables</h1>

<table id="master_data" class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th class="text-right">Keywords usage #</th>
    <th class="text-right">Outcomes usage #</th>
    <th class="text-right">Determinants usage #</th>
    <th class="text-right">Other usage #</th>
    <th></th>
    <th></th>
  </tr>
</thead><tbody>
<% @variables.each do |variable| %>
  <tr>
    <td><%= variable.name %></td>
    <td class="text-right"><%= Keyword.count(conditions: { variable_id: variable.id } ) %></td>
    <td class="text-right"><%= Outcome.count(conditions: { variable_id: variable.id } ) %></td>
    <td class="text-right"><%= Determinant.count(conditions: { variable_id: variable.id } ) %></td>
    <td class="text-right"><%= Mediator.count(conditions: { variable_id: variable.id } ) %></td>
    <td class="text-right"><%= link_to 'Edit', edit_variable_path(variable) %></td>
    <td class="text-right"><%= link_to 'Destroy', variable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Variable', new_variable_path %>
