<img src="/assets/hbsc_banner_1.jpg" />
<header class="navbar">
	<div class="navbar-inner">
			<nav>
				<ul class="nav pull-left no-print">
					<li><%= link_to "Home",	root_path %></li>
					<li><%= link_to "Publications",	publications_path if permitted_to? :index, :publications %></li>
					<% if permitted_to? :new, :publications %>
						<li><%= link_to "New Publication",	new_publication_path %></li>
					<% else %>
						<li><%= link_to "New Publication", no_access_path %></li>
					<% end %>
					<li><%= link_to "Master Data",	master_path if permitted_to? :master, :pages %></li>
					<li><%= link_to "About",	about_path %></li>
					<li><%= link_to "Contact",	contact_path %></li>
				</ul>
				<ul class="nav pull-right">
					<% if user_signed_in? %>
						<li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
				  <% else %>
				    <li><%= link_to 'Login', new_user_session_path %></li>
				  <% end %>
				  <% if user_signed_in? %>
				    <li><%= link_to "Edit account", edit_user_registration_path %></li>
				  <% else %>
				    <li><%= link_to 'Sign up', new_user_registration_path %></li>
				  <% end %>
				</ul>
			</nav>
		
	</div>
</header>